.env
.httr-oauth
.DS_Store
.RData
.Rhistory
server_messages.csv

# Ignore outputs by default, then whitelist specific README images below
outputs/

# --- whitelisted README images ---
!outputs/weather/weatherTd.png
!outputs/weather/nwsJaxRadar.gif
!outputs/weather/two7d.png
!outputs/weather/surf_fcst.png
!outputs/weather/buoyWaves.png
!outputs/weather/mayportTides.png
!outputs/weather/mayportWinds.png
!outputs/aerospace/jaxPlanes.png
!outputs/maritime/jaxShips.png
!outputs/markets/stockchart.png
!outputs/markets/tradechart.png
!outputs/markets/yield_curve.png
!outputs/markets/yield_spread.png
!outputs/markets/crudewti.png
!outputs/markets/dfedtaru.png
!outputs/markets/cryptochart.png
!outputs/markets/forecast_SPY_1d_1mo_mcpaths.gif
!outputs/sports/nfl/epaMap.png
!outputs/sports/nfl/tgtShr.png
!outputs/sports/nfl/room40map.png
!outputs/sports/mlb/fantasy/fantasyRisk.png
!outputs/sports/mlb/pitchzone_example.png
!outputs/jax/realestate_sqft.png
!outputs/jax/realestate_time.png
!outputs/osrs/osrs.png
!outputs/metrics/allMessages.png
!outputs/metrics/channelMessages.png
!outputs/metrics/userMessages.png
!outputs/metrics/dailyMessages.png
!outputs/server/invite_graph.png
!outputs/server/repo_graph.png
